*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background: #768D93;
  width: 100%;
  height: 80px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20ox;
}
.logo img{
  width: 50px;
  height: 50px;
  margin-left: 40px;
}
.logo a{
  text-decoration: #fff;
  color: #fff;
  cursor: pointer;
}
.logo a:hover{
  color: #333;
}
.nav-lists{
  list-style: none;
}
.nav-lists li{
  display: inline-block;
  padding: 10px;
}
.nav-lists li a{
  text-decoration: none;
  color: #fff;
}
.nav-lists li a:hover{
  color: #333;
}
.auth{
  list-style: none;
}
.auth li{
  display: inline-block;
  padding: 10px;
}
.auth li a{
  text-decoration: none;
  color: #fff;
}
.auth li a:hover{
  color: #333;
}
.menu{
  display: none;
}
.line{
  background-color: #fff;
  width: 20px;
  height: 3px;
  margin-bottom: 4px;
}
@media all and (max-width: 570px) {
  .navbar{
    flex-direction: column;
    position: relative;
    height: auto;
  }
  .menu{
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 20px 10px;
  }
  .logo img{
    margin-top: 10px;
    margin-left: 10px;
  }
  .nav-lists{
    list-style: none;
    text-align: center;
    padding-top: 10px;
    display: none;
  }
  .nav-lists li{
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
  }
  .auth li{
    display: block;
    padding: 10px 20px;
    border-top: 1px solid #fff;
    
  }
  .logo{
    padding-top: 10px;
  }
  .logo img{
    margin-left: 40px;
  }
  .active{
    display: block;
  }
}